body {
	font-size: 14px;
	font-weight: bold;
	font-family: ("PT Sans Narrow", sans-serif);
	color: #000000;
	line-height: 24px;
	margin: 0px;
	padding: 0px;
}
.main-header {
	background-color: grey;
	margin-bottom: 60px;
}
.container {
  	width: 940px;
  	margin: 0 auto;
  	padding: 0 10px;
  	background-color: green;
  }
.main-navigation {
	float: left;
	width: 780px;
  	background-color: red;
  	
  }
.user-block {
	float: right;
  	width: 140px;
  	background-color: red; 
  	
  }
 .clearfix::after {
  	content: "";
    display: table;
    clear: both;
}
.login {
	color: #ffffff;
  	text-decoration: none;
  	text-transform: uppercase;	
  }

.main-navigation a {
  	color: #ffffff;
  	text-decoration: none;
  	text-transform: uppercase;
  } 

h1 {
	font-size: 30px;
	line-height: 42px;
	background-color: red;
	margin-bottom: 30px;
}

.breadcrumbs {
	background-color: red;
	margin-bottom: 60px;	
}
.breadcrumbs a {
	font-size: 20px;
	line-height: 14px;
	color: #ffffff;
  	text-decoration: none;
  	text-transform: uppercase;	
}

.filter {
	float: left;
	width: 223px;
	line-height: 18px;
	color: #000000;
	background-color: red;

}
.filter h2 {
	margin: 0px;
	font-size: 24px;
	line-height: 30px;
}
.goods-gallery {
	font-size: 0px;
	float: right;
	width: 700px;
	margin: 0px;
	/*padding: 0 10px;*/
	background-color: yellow;
}
.goods {
	display: inline-block;
	width: 220px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	line-height: 18px;
	vertical-align: top;
	background-color: red;
}
.goods h2 
{
	font-size: 14px;
	line-height: 18px;
}
.goods:nth-child(1),
.goods:nth-child(4)
 {
	margin-left: 0px;
}
.goods:nth-child(3),
.goods:nth-child(6)
 {
	margin-right: 0px;
}

.pagination {
	font-size: 14px;
}
.good-foto {
	font-size: 0px;
	width: 460px;
	float: left;
	background-color: red;

}
.foto-small {
	display: inline-block;
	width: 140px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 0px;
	background-color: red;
}
.good-foto div:nth-child(2) {
	margin-left: 0px;
}
.good-foto div:last-child {
	margin-right: 0px;
}
.good-description {
	float: right;
	width: 390px;
	padding-left: 10px;
	padding-top: 20px;
	margin-left: 80px;
	line-height: 24px;
	text-transform: uppercase;
	background-color: red;
}
.about p {
	margin-top: 40px;
}
.good-description h2 {
	margin-top: 70px;
	margin-bottom: 40px;
}
.main-footer {
    margin-top: 50px;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: red;
}

.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
    min-height: 90px;
}

.footer-social {
    float: left;
    width: 180px;
    min-height: 90px;
}

.footer-copyright {
    float: right;
    width: 180px;
    min-height: 90px;
}
